@page
@{
    ViewData["Title"] = "GlabaznaMichael";
}

<div class="my-5">
    <div class="d-flex align-items-center mb-4 gap-5">
        <div>
            <h1 class="display-5">@ViewData["Title"]</h1>
        </div>
    </div>
    <p class="lead">Student Podorlické střední školy</p>
</div>